*{
    margin: 0;
    padding: 0;
}
h1{
    color: brown;
    font-size: 50px;
}
img [alt=vscode] {
width: 75vw;
height: 200px;
}
.bg-primary{
    background-color: aqua;
}
.bg-secondary{
    background-color: blueviolet;
}